@import "util";
@import "reset";
@import "guias";
@import "bloques";

// Variables:
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
$Cyan: hsl(179, 62%, 43%);
$Bright_Yellow: hsl(71, 73%, 54%);
$Light_Gray: hsl(204, 43%, 93%);
$Grayish_Blue: hsl(218, 22%, 67%);

// Estilos Desktop: 1440px-800px
body {
  font-family: "Karla", sans-serif;
}

// Estilos Movil: 375px-npx
@include movil {
  body {

  }
}
